html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.mainContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.mainContainer__header {
    font-size: 1.2;
}