.section {
    margin-top: 20px;
}

.section__fieldset {
    background-color: white;
    border-style: none;
    border-radius: 3px;
    padding: 0px 15px;
    margin: 3px 0px;
}

.section__fieldset--task {
    min-height: 50px;
}

.section__fieldset--buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__fieldset--buttons {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        /* padding-bottom: 10px; */
    }
}

.section__header {
    font-weight: 700;
    font-size: 20px;
    padding-top: 0px;
}

.section__form {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}

@media (max-width: 767px) {
    .section__form {
        flex-direction: column;
    }
}

.section__input {
    padding: 10px;
    flex-grow: 1;
    margin-right: 15px;
    font-size: 16px;
    border-color: #ddd;
    border-style: solid;
    border-width: 2px;
}

@media (max-width: 767px) {
    .section__input {
        margin: 10px 0;
    }
}

.section__button {
    background-color: teal;
    color: whitesmoke;
    border-style: none;
    font-size: 16px;
    padding: 0 20px;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .section__button {
        padding: 10px 0;
    }
}

.section__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.section__button:active {
    background-color: hsl(180, 100%, 35%);
}

.section__taskListButtons {
    height: auto;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
    .section__taskListButtons {
        grid-template-columns: 1fr;
    }
}

.section__listButton {
    background-color: white;
    color: teal;
    border-style: none;
    font-size: 16px;
    padding: 15px 15px;
    transition: 0.3s;
}

.section__listButton--hidden {
    display: none;
}

.section__listButton:disabled {
    color: #bbb;
}

.section__listButton:hover:not([disabled]) {
    color: hsl(180, 100%, 35%);
    background-color: white;
}

.section__listButton:active:not([disabled]) {
    color: hsl(180, 100%, 40%);
    background-color: white;
}