.unorderedList {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
}
 
.unorderedList__listItem {
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
} 

.unorderedList__button {
    border: none;
    padding: 5px 10px;
    justify-self: center;
    font-size: 18px;
}

.unorderedList__button--done {
    background-color: #090;
    color: #fff;
}

.unorderedList__button--done:hover {
    background-color: #0c0; 
}

.unorderedList__buttonSpan {
    opacity: 0;
}

.unorderedList__buttonSpan--done {
    opacity: 1;
}

.unorderedList__button--remove {
    background-color: #f00;
    color: #fff;
    font-size: 20px;
}

.unorderedList__button--remove:hover {
    background-color: #f20;
}

.unorderedList__span {
    padding: 0px 15px;
    flex-grow: 1;
}

.unorderedList__span--done {
    text-decoration: line-through;
}